<!DOCTYPE html>
<html>
    {{> head}}
  <body>
    {{> navbar}}
    {{> header}}
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">{{services_cards services 0 "name"}}</h5>
            <p class="card-text">{{{services_cards services 0 "description"}}}</p>
            <p class="card-text">{{{services_cards services 0 "price_range"}}}</p>
          </div>
        </div>
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">{{services_cards services 1 "name"}}</h5>
            <p class="card-text">{{{services_cards services 1 "description"}}}</p>
            <p class="card-text">{{{services_cards services 1 "price_range"}}}</p>
          </div>
        </div>
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">{{services_cards services 2 "name"}}</h5>
            <p class="card-text">{{{services_cards services 2 "description"}}}</p>
            <p class="card-text">{{{services_cards services 2 "price_range"}}}</p>
          </div>
        </div>
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">{{services_cards services 3 "name"}}</h5>
            <p class="card-text">{{{services_cards services 3 "description"}}}</p>
            <p class="card-text">{{{services_cards services 3 "price_range"}}}</p>
          </div>
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
